:root{

    /*colors*/
   --clr-primary: #ffffff; 
   --clr-secondary: #4B0B8D;
   
   --clr-icons: #f4f5f8;
   --clr-title: #ffffff;
   --clr-h3-text: #e4e4e4; 
   --clr-text: rgb(0, 0, 0); 
   --clr-text-dark: rgb(0, 0, 0); 

   
}





