:root{

    /*colors*/
   --clr-primary: #ffffff; 
   --clr-secondary: #61CE70;
   --clr-icons: #f4f5f8;
   --clr-title: #00bb00;
   --clr-text: rgb(237, 237, 237); 
   --clr-text-dark: rgb(0, 0, 0); 

   --ayman-red:red;
}





