/* --------typography--------- */


h1,
h2,
h3,
h4,
p {
margin: 0;
}

h1{
    font-family:  var(--ff-title); 
    font-size: 32px;
    color: var(--clr-title);
}

h2,h3{
    font-family: var(--ff-text);
    line-height: 0.8;
    font-size: 20px;
    
    }
    .secondary-titles{
        color: var(--clr-secondary);
        font-size: 22px;
        line-height: 1.1rem;
        
       }

ol, ul ,a{
	list-style: none;
    text-decoration: none;
    
 
}

p{
margin-bottom: 0.85rem;
}


