header{
    align-items: center;
    
}
.search-bar{
   padding-top: 0.5rem;
//   height: 10vh;
  display: flex;
//   border: solid green 2px;
  justify-content: space-between;
  margin-left: auto;
  padding-inline: 2rem;

   &__submit{
    text-align: center;
    background-color: rgba(107, 7, 161, 0.768);
    
       &:hover{
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        transform: translateY(-1px);
       }
       &:active{
        background-color: #c85000;
        box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
        transform: translateY(0);
       }
   }
}
.search-input{
   
    width: 20rem;
  
   }
   
   .design{
    margin: 0 auto;
    width: 100px;
    height: 100px;
   }


.country h2, .month-day{
    font-family: var(--ff-sec-title);
}
.month-day{
   color: var(--clr-h2-text) ;
}


@media(max-width:770px){

.search-bar{
    padding-top: 0.5rem;
    // padding-inline: -1rem;
}
.search-input{width: 10rem;}
}
@media(max-width:442px){
    .search-bar{
        flex-direction: column;
    }
   h3{
    font-size: 15px;
   }
}


