
$border-radius:20px;
.col-3,.col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.days{
    // border: solid red 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    & h2{
        // border: solid yellow 2px;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        align-items: center;
        padding: 2rem 0rem;
        font-family: var(--ff-sec-title);
        
        // border-bottom-right-radius:  $border-radius;
            &:hover{
                background-color: var(--clr-secondary);
              border-radius: 0;
              cursor: pointer;
              
            }
            & .day{
                color: var(--clr-h2-text);
                font-size: 19px;
            }
         
           
    }
  
}
.weather-container{
    flex-direction: row-reverse;
}

.weather-info {
    // border: solid green 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   background-color: var(--clr-secondary);
   border-top-left-radius:  $border-radius;
   border-bottom-right-radius:  $border-radius;
}

.weather-container {
 height: 90vh;   
//  border: solid orange 2px;
}

.weather-detailes{
   
    &__col{
        display: flex;
        flex-direction: column;
        gap: 1rem;
       
    }
}


@media(max-width:770px){
.days{

flex-direction: row;
 justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  padding-left: 0px;

  
    & h2{
        // border: green 2px solid;
        padding-inline: 1rem;
        gap: 1rem;
        background-color: #4c0b8dbd;
        font-size: 20px;
        border: 1px #4c0b8d solid;
    }
}
}

