@font-face {
    font-family: corbyn;
    src: url(assets/fonts/corbyn.otf)
}
@font-face {
    font-family: tokyoDream;
    src: url(assets/fonts/TokyoDreams-Regular.ttf)
}
:root{


    /*font style*/
   --ff-title: corbyn; 
   --ff-text: sans; 
   --ff-serif: "Crimson Text", serif;
   --ff-tokyodream:tokyodream
   
   }
