/* --------typography--------- */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-family: var(--ff-title);
  font-size: 84px;
  color: var(--clr-title);
}

h2, h3 {
  font-family: var(--ff-text);
  line-height: 0.8;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.secondary-titles {
  color: var(--clr-secondary);
  font-size: 22px;
  line-height: 1.1rem;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

p {
  margin-bottom: 0.85rem;
}

h3 {
  color: var(--clr-h3-text);
}

:root {
  /*colors*/
  --clr-primary: #ffffff;
  --clr-secondary: #4B0B8D;
  --clr-icons: #f4f5f8;
  --clr-title: #ffffff;
  --clr-h3-text: #e4e4e4;
  --clr-h2-text:#9e9fa2;
  --clr-text: rgb(0, 0, 0);
  --clr-text-dark: rgb(0, 0, 0);
}

body {
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  color: var(--clr-text);
  min-width: 266px;
}

/* ----------Defaults-------- */
html {
  font-family: var(--ff-serif);
  color: var(--clr-text);
  font-size: 1.125rem;
}

/* The .sr-only class hides an element to all devices except screen readers: */
.sr-only {
  visibility: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
}

:root {
  --fa-size:1.1rem;
}

ul {
  margin-block-start: 1em;
}

@font-face {
  font-family: corbyn;
  src: url(assets/fonts/corbyn.otf);
}
@font-face {
  font-family: tokyoDream;
  src: url(assets/fonts/TokyoDreams-Regular.ttf);
}
:root {
  /*font style*/
  --ff-title: corbyn;
  --ff-sec-title: font-family: "Roboto Condensed", sans-serif;
  --ff-text: sans;
  --ff-serif: "Crimson Text", serif;
  --ff-tokyodream:tokyodream ;
}

header {
  align-items: center;
}

.search-bar {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-inline: 2rem;
}
.search-bar__submit {
  text-align: center;
  background-color: rgba(107, 7, 161, 0.768);
}
.search-bar__submit:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}
.search-bar__submit:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.search-input {
  width: 20rem;
}

.design {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  animation: myfirst 10s infinite;
  animation-direction: alternate;
}

@keyframes myfirst {
  0% {
    left: 0px;
  }
  25% {
    left: 100px;
  }
  50% {
    left: -100px;
  }
  100% {
    left: 100px;
  }
}
.country h2, .month-day {
  font-family: var(--ff-sec-title);
}

.month-day {
  color: var(--clr-h2-text);
}

@media (max-width: 770px) {
  .search-bar {
    padding-top: 0.5rem;
  }
  .search-input {
    width: 10rem;
  }
}
@media (max-width: 442px) {
  .search-bar {
    flex-direction: column;
  }
  h3 {
    font-size: 15px;
  }
}
.col-3,
.col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.days h2 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  padding: 2rem 0rem;
  font-family: var(--ff-sec-title);
}
.days h2:hover {
  background-color: var(--clr-secondary);
  border-radius: 0;
  cursor: pointer;
}
.days h2 .day {
  color: var(--clr-h2-text);
  font-size: 19px;
}

.weather-container {
  flex-direction: row-reverse;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--clr-secondary);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.weather-container {
  height: 90vh;
}

.weather-detailes__col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 770px) {
  .days {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    padding-left: 0px;
  }
  .days h2 {
    padding-inline: 1rem;
    gap: 1rem;
    background-color: rgba(76, 11, 141, 0.7411764706);
    font-size: 20px;
    border: 1px #4c0b8d solid;
  }
}
.dark-mode-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode {
  background: none;
  border: none;
}
.dark-mode:focus {
  outline: none;
}
.dark-mode img {
  width: 50px;
  height: 50px;
}

.txt-white {
  color: white;
  transition: 1s;
}

.bg-black {
  background-color: black;
  transition: 1s;
}

body {
  transition: background-color 1s;
}

.design {
  color: white;
  fill: rgb(112, 0, 0);
}/*# sourceMappingURL=style.css.map */